[Unit]
Description=vcping discord bot service
Documentation=https://github.com/maliciousfiles/vcping-discord-bot
After=network.target

[Service]
User=jd
WorkingDirectory=/home/jd/vcping-discord-bot
Type=simple
ExecStart=/home/jd/vcping-discord-bot/vcping.py

[Install]
WantedBy=multi-user.target
